<div class="region pre-footer"><div class="inner">
  <h2>Deals, news, puppy pics:</h2>
  <form action="http://fidodogtraining.us2.list-manage1.com/subscribe/post?u=44165a7c75807984aa67260a0&amp;id=5a3a84a994" method="post" target="_blank">
    <label class="hide" for="form-email">Email</label>
    <input type="email" id="form-email" name="EMAIL" placeholder="johndoe@example.com" />
    <input type="hidden" value="html" name="EMAILTYPE" />
    <button type="submit">Join</button>
  </form>
</div></div>
<footer class="region footer"><div class="inner">
  <div class="more">
  {% assign pages = site.autopages | sort:"weight" %}
  <ul class="menu">
    <li><a class="first" href="http://www.fidoblog.com/" target="_blank">FIDO Blog</a></li>
    {% for p in pages %}{% if p.exclude %}
    <li><a {% if p.url == page.url %}class="active"{% endif %} href="{{ p.url }}">{{ p.title }}</a></li>
    {% endif %}{% endfor %}
  </ul>
  </div>
  <div class="location captioned">
    <a class="map" href="https://www.google.com/maps/place/703+Livernois+Ave,+Ferndale,+MI+48220/" target="_blank">
      View on Google Maps
    </a>
    <div class="caption"><div class="inner">
      <address class="inline-block" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <span>FIDO Personal Dog Training, LLC</span><br>
        <span itemprop="streetAddress">703 Livernois Ave</span><br>
        <span itemprop="addressLocality">Ferndale</span>, <span itemprop="addressRegion">MI</span> 
         <span itemprop="postalCode">48220</span>
      </address>
      <div class="inline-block smaller">
        <strong>Tammy</strong>: <a href="tel:+13132046154" itemprop="telephone">(313) 204-6154</a><br>
        <strong>Sarah</strong>: <a href="tel:+12488545540" itemprop="telephone">(248) 854-5540</a><br>
        <strong>Fax</strong>: <a href="fax:+12483988600" itemprop="faxNumber">(248) 398-8600</a><br>
        <a href="mailto:fidofetch@sbcglobal.net" itemprop="email">fidofetch@sbcglobal.net</a>
      </div>
    </div></div>
  </div>
  {% include socials.html %}
</div></footer>
<div class="region copyright"><div class="inner">
  <p>&copy; Copyright {{ site.time | date: '%Y' }} FIDO Personal Dog Training, LLC.</p>
  <p><a href="http://www.github.com/fidodogtraining/fidodogtraining.github.io" target="_blank">Github source</a></p>
  <div class="affiliations">
    <a href="http://www.ccpdt.org/" target="_blank">
      <img alt="" src="/images/affiliations/cpdt-ka.png" />
    </a>
    <a href="http://www.associationofanimalbehaviorprofessionals.com/pillars.html" target="_blank">
      <img alt="" src="/images/affiliations/aabp.png" />
    </a>
    <a href="https://apdt.com/about/" target="_blank">
      <img alt="" src="/images/affiliations/apdt.png" />
    </a>
    <a href="http://catchdogtrainers.com/who-we-are/" target="_blank">
      <img alt="" src="/images/affiliations/catch.png" />
    </a>
  </div>
</div></div>