<section class="region region-free highlight"><div class="inner">
  <h2>Upcoming</h2>
  <p>Check out our <a href="https://www.facebook.com/FidoPersonalDogTraining">Facebook page</a> 
  to sign up for special upcoming events, like:</p>
  <ul>
    <li><a href="https://www.facebook.com/events/1608893642690156/">Canine Massage with Holly Schultz</a></li>
    <li><a href="https://www.facebook.com/events/1604130019871677/">Pet First Aid</a></li>
    <li><a href="https://www.facebook.com/events/554987291270443/">Leash reactivity seminar</a></li>
    <li><a href="https://www.facebook.com/events/1389216611397761/">New dog prep seminar</a></li>
  </ul>
</div></section>
