<section class="region region-free highlight"><div class="inner">
  <h2>Upcoming</h2>
  <p>Check out our <a href="https://www.facebook.com/FidoPersonalDogTraining">Facebook page</a> 
  to sign up for special upcoming events, like:</p>
  <ul>
    <li><a href="https://www.facebook.com/events/798008050281342/">Thunder and Other Things that Go BOOM</a></li>
    <li><a href="https://www.facebook.com/events/1626278624258966/">
Neophobia: What to do when your dog is afraid of EVERYTHING</a></li>
  </ul>
</div></section>
