<section class="region region-free highlight"><div class="inner">
  <h2>Reducing Anxiety</h2>

  <p>Along with <a href="{{ '/grooming/' | relative_url }}">dog-calming grooming</a>,
    we now offer <a href="{{ '/separation-anxiety/' | relative_url }}">a program
    specifically for treating separation anxiety in dogs</a>. One in six pups is
    especially anxious alone (barking, destroying, etc.) — get the information you
    need now!
  </p>

  <a class="button" href="{{ '/separation-anxiety/' | relative_url }}">Learn more</a>
</div></section>
