<div class="social">
	<a href="https://www.facebook.com/FidoPersonalDogTraining" rel="me" target="_blank">Facebook</a>
  <a href="https://twitter.com/FidoDogTraining" target="_blank">Twitter</a>
  <a href="https://plus.google.com/u/0/113726013402893239538" rel="publisher" target="_blank">Google+</a>
	<a href="http://www.yelp.com/biz/fido-personal-dog-training-llc-ferndale" target="_blank">Yelp</a>
  <a href="https://www.youtube.com/channel/UCW_H1tVFH2sykDCwcWpHXgA" target="_blank">YouTube</a>
</div>