---
title: Classes
regions:
  contact: true
---
{% assign classes = site.classes | sort: "weight" %}
<p>All classes take place at FIDO in Ferndale. Class sizes are kept small to provide personal attention, 
so sign up now to save your spot! To register:</p>
<ol>
  <li>Please review our <a href="/rules/">class rules</a></li>
  <li><a href="/forms/group-class-customer-agreement/">Fill out the Customer Agreement form</a> or 
  <a href="/images/fido_agree_rules.pdf">print a paper copy</a></li>
  <li>Click a "Sessions/Register" button below to see class dates. Payment is required to reserve your spot in class.</li>
</ol>

<p>All dogs must have age-appropriate vaccinations in order to attend class. Please see the 
<a href="/forms/group-class-customer-agreement/">Customer Agreement</a> for the required vaccinations.</p>

{% comment %} Main classes (brief template) {% endcomment %}
{% for class in classes %}
{% assign args = class.url | split: '/' %}
{% assign args = args | size %}
{% unless args > 3 %}
{% include class_brief.html class=class %}
{% endunless %}
{% endfor %}

<h1 class="separator">Mini Courses</h1>
<p>These courses are offered periodically. Available sessions are listed below.</p>

{% comment %} Mini courses (brief template) {% endcomment %}
{% for class in classes %}
{% if class.url contains 'mini-courses' %}
{% include class_brief.html class=class %}
{% endif %}
{% endfor %}

<h1 class="separator">Seminars</h1>
<p>Seminars are offered periodically. Available sessions are listed below.</p>

{% comment %} Seminars (brief template) {% endcomment %}
{% for class in classes %}
{% if class.url contains 'seminars' %}
{% include class_brief.html class=class %}
{% endif %}
{% endfor %}

