---
title: Classes
regions:
  contact: true
---
{% assign classes = site.classes | sort: "weight" %}
<p>All classes take place at FIDO in Ferndale. Please pre-register and review our 
<a href="/rules-for-class/">class rules</a> before attending. Class sizes are kept small to provide personal attention, 
so sign up now to save your spot!</p>
<p><a class="button cta" href="/images/fido_agree_rules.pdf">Sign up</a></p>

<strong class="clear">Classes</strong>
<ul class="inline anchors">
{% for class in classes %}
{% assign args = class.url | split: '/' %}
{% assign args = args | size %}
{% unless args > 3 %}
  <li><a href="#{{ class.url | slugify }}">{{ class.title }}</a></li>
{% endunless %}
{% endfor %}
</ul>

<strong class="clear">Mini courses</strong>
<ul class="inline anchors">
{% for class in classes %}
{% if class.url contains 'mini-courses' %}
  <li><a href="#{{ class.url | slugify }}">{{ class.title }}</a></li>
{% endif %}
{% endfor %}
</ul>

<strong class="clear">Seminars</strong>
<ul class="inline anchors">
{% for class in classes %}
{% if class.url contains 'seminars' %}
  <li><a href="#{{ class.url | slugify }}">{{ class.title }}</a></li>
{% endif %}
{% endfor %}
</ul>

{% comment %} Main classes (brief template) {% endcomment %}
{% for class in classes %}
{% assign args = class.url | split: '/' %}
{% assign args = args | size %}
{% unless args > 3 %}
{% include class_brief.html class=class %}
{% endunless %}
{% endfor %}

<h1 class="separator">Mini Courses</h1>
<p>These courses are offered periodically. Available sessions are listed below.</p>

{% comment %} Mini courses (brief template) {% endcomment %}
{% for class in classes %}
{% if class.url contains 'mini-courses' %}
{% include class_brief.html class=class %}
{% endif %}
{% endfor %}

<h1 class="separator">Seminars</h1>
<p>Seminars are offered periodically. Available sessions are listed below.</p>

{% comment %} Seminars (brief template) {% endcomment %}
{% for class in classes %}
{% if class.url contains 'seminars' %}
{% include class_brief.html class=class %}
{% endif %}
{% endfor %}

<aside>
  <p>A $50 non-refundable deposit is required to secure your spot in any class starting 
more than 2 weeks before the date you sign up, and is applied to the cost of the 
class. The remainder of the class fee must be paid in full within two weeks of 
the class start date. Payment may be cash, check, Visa, or MasterCard.</p>
  <p>If the class you are attending starts within 2 weeks of the date you are signing 
up, we ask that you pay for the class in full at the time you register.</p>
</aside>
