---
layout: layout
regions:
  contact: true
---
<article class="region" itemscope itemtype="http://schema.org/Article"><div class="inner">
	<header>
		<h1 itemprop="name headline">{{ page.title }}</h1>
    <h2>{{ page.tagline }}</h2>
	</header>
  {% if page.image %}<img class="right" src="{{ '/images/classes/' | relative_url }}{{ page.image }}" alt="" />{% endif %}
  <aside class="inline-block">
    <p>Instructor: {{ page.trainer }}</p>
    {% if page.assistant %}<p>Assistant: {{ page.assistant }}</p>{% endif %}
    {% if page.duration %}<p>Duration: {{ page.duration }}</p>{% endif %}
    {% if page.price %}<p>Price: {{ page.price }}</p>{% endif %}
    {% if page.square %}<a class="button" href="{{ page.square }}" target="_blank">Sessions/Register</a>{% endif %}
  </aside>
	<div itemprop="articleBody">
		{{ content }}
	</div>
</div></article>